* {
    padding: 0;
    margin: 0;
}


/**********************************
* Header
**********************************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    position: absolute;
    width: 96.9%;
    z-index: 2;
}
.left-menu{
    display: flex;
    align-items: center;
}
.menu-container {
    display: flex;
}
.menu-container li {
    list-style: none;
}
.menu-container li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}


/**************************************
* Homepage
**************************************/
.home_banner {
    position: relative;
    height: 120vh;
    color: white;
    background: url("https://trydo.rainbowit.net/assets/images/bg/bg-image-1.jpg");
}
.home_banner::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,.6);
    top: 0;
    width: 100%;
    height: 100%;
}
